<h2>About HomeStay</h2>
<p>The HomeStay website strives to create an enjoyable, seamless user experience as well as supporting travel, adventure, and local economies.</p>
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
